body {
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.flashes h4 {
    line-height: 2;
    border: solid 1px black;
    background-color: lightblue;
    margin-top: 10px;
}

#home-title {
    padding-top: 10px;
}

#header-image {
    width: 100%;
}

#home-content {
    padding: 20px;
}

.container {
    width: 100%;
}

.ride-search {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.card {
    width: 18rem;
    margin: 10px;
    margin: 0 auto;
    height: 120vh;
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.ride-info {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
}

.ratings-reviews-button {
    margin: 10px;
}

.card-footer {
    background: transparent;
    border-top: 10px;
    margin-top: auto;
  }

@media only screen and (min-width: 580px) {
    .ride-search {
        width: 60%;
    }
    .container {
         width: 60%;
    }
  }