{% extends "base.html" %}
{% block content %}
<!-- Write a Review Page -->
<h3 class="text-center">Write a review</h3>
<p class="review-intro"><em>Please write your review below about the relevant ride/theme park if you know the name of the ride and the relevant theme park. Otherwise, please 
  go to the 'Theme Park' dropdown tab on the navigation bar where you can view all rides or select the individual theme park. From those pages you can submit the 
  same form as below directly from the ride containers via a 'Click here to review this ride' button which pops up with the form for that ride. </em></p>
<div class="container">
  <form method="POST" action="{{ url_for('add_review') }}">
    <div class="form-group">
      <label for="ride_name"><strong>Ride: </strong></label>
      <input type="text" class="form-control" id="ride_name" name="ride_name" aria-describedby="ride_name"
        placeholder="Please enter the ride" minlength="4" maxlength="15" required>
    </div>
    <div class="form-group">
      <label for="theme_park"><strong>Theme Park: </strong></label>
      <select class="form-select" id="theme_park" name="theme_park" aria-label="Large select example" required>
        <option value="Blackpool Pleasure Beach">Blackpool Pleasure Beach</option>
        <option value="Alton Towers">Alton Towers</option>
        <option value="Thorpe Park">Thorpe Park</option>
      </select>
    </div>
    <div class="form-group">
      <label for="rating"><strong>Rating: </strong></label>
      <select class="form-select" id="rating" name="rating" aria-label="Large select example" required>
        <option value="" disabled selected>Select a rating</option>
        <option value="1/5 - Poor">1/5 - Poor</option>
        <option value="2/5 - Below Average">2/5 - Below Average</option>
        <option value="3/5 - Average">3/5 - Average</option>
        <option value="4/5 - Above Average">4/5 - Above Average</option>
        <option value="5/5 - Excellent">5/5 - Excellent</option>
      </select>
    </div>
    <div class="form-group">
      <label for="ride_comment" class="form-label"><strong>Please write your comment here: </strong></label>
      <textarea class="form-control" id="ride_comment" name="ride_comment" rows="3"
        placeholder="Please enter any comments here about the ride..." required></textarea>
    </div>
    <div class="form-group">
      <label for="other_comment" class="form-label"><strong>Any other comments about the theme park: </strong></label>
      <textarea class="form-control" id="other_comment" name="other_comment" rows="3"
        placeholder="Please enter any other general comments here about the theme park..." required></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-primary submit-review">Submit Your Review</button>
  </form>
</div>

{% endblock %}