{% extends "base.html" %}
{% block content %}
<!-- Alton Towers Rides Page -->
<h3 class="text-center">Alton Towers</h3>

<div class="ride-container">
    <div class="row">
        {% for ride in rides %}
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card border border-dark">
                <div class="card-body">
                    <h4 class="card-title text-center">{{ ride.ride_name }}</h4>
                    <p class="card-text text-center">{{ ride.theme_park }}</p>
                    <img src="{{ ride.image_url }}" alt="ride-image">
                    <div class="ride-info">
                        <p class="card-text"><strong>Type: </strong>{{ ride.type }}</p>
                        <p class="card-text"><strong>Description: </strong>{{ ride.description }}</p>
                    </div>
                    <button class="btn btn-primary ratings-reviews-button" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop{{ride._id}}">
                    Click here to review this ride
                    </button>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop{{ride._id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title fs-5" id="staticBackdropLabel">Write a Review</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('add_review') }}">
                          <!-- Add hidden input for ride_name -->
                          <input type="hidden" name="ride_name" value="{{ ride.ride_name }}">
                          <!-- Add hidden input for theme_park -->
                          <input type="hidden" name="theme_park" value="{{ ride.theme_park }}">
                          <div class="form-group">
                            <p><strong>Ride: </strong>{{ ride.ride_name }}</p>
                          </div>
                          <div class="form-group">
                              <p><strong>Theme Park: </strong>{{ ride.theme_park }}</p>
                          </div>
                        <div class="form-group">
                            <label for="rating"><strong>Rating: </strong></label>
                            <select class="form-select" id="rating" name="rating" aria-label="Large select example" required>
                                <option value="" disabled>Select a rating below</option>
                                <option value="1/5 - Poor">1/5 - Poor</option>
                                <option value="2/5 - Below Average">2/5 - Below Average</option>
                                <option value="3/5 - Average">3/5 - Average</option>
                                <option value="4/5 - Above Average" >4/5 - Above Average</option>
                                <option value="5/5 - Excellent">5/5 - Excellent</option>
                              </select>
                        </div>
                        <div class="form-group">
                            <label for="ride_comment" class="form-label" ><strong>Please write your ride comment below:</strong></label>
                            <textarea class="form-control" id="ride_comment" name="ride_comment" rows="3" placeholder="Please enter any comments here about the ride..." required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="other_comment" class="form-label"><strong>Any other comments about the theme park: </strong></label>
                            <textarea class="form-control" id="other_comment" name="other_comment" rows="3"
                              placeholder="Please enter any other general comments here about the theme park..." required></textarea>
                          </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Submit Your Review</button>
                      </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>

{% endblock %}