{% extends "base.html" %}
{% block content %}
<!-- Edit Review Page -->
<h3 class="text-center">Edit Review</h3>
<p class="review-intro text-center">Please amend your review below about the relevant ride/theme park.</p>
<div class="container">
  <form method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">
    <div class="form-group">
      <label for="ride_name"><strong>Ride: </strong><em>(Please note: This ride can't be edited)</em></label>
      <input type="text" class="form-control" id="ride_name" name="ride_name" value="{{ review.ride_name }}" aria-describedby="ride_name"
        placeholder="Please re-enter the ride" minlength="4" maxlength="15" required readonly>
  </div>
    <div class="form-group">
      <label for="theme_park"><strong>Theme Park: </strong><em>(Please note: This theme park can't be edited)</em></label>
      <input type="text" class="form-control" id="theme_park" name="theme_park" value="{{ review.theme_park }}" aria-describedby="theme_park"
            required readonly>
    </div>
    <div class="form-group">
      <label for="rating"><strong>Please re-select the rating if you wish to: </strong></label>
      <select class="form-select" id="rating" name="rating" aria-label="Large select example" required>

<!DOCTYPE html>
<html lang="en">
<!-- Base.html page -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This website is a theme park ride reviews website where users can write reviews on rides at various theme parks in the UK.">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    type="text/css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/style.css" type="text/css">
  <title>UK Rides Review Hub</title>
</head>

<body class="d-flex flex-column">
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm bg-dark border-bottom border-body text-right" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">UK Rides Review Hub</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Theme Parks
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/get_rides">View All Theme Park Rides</a></li>
                <li><a class="dropdown-item" href="/pleasure_beach">Blackpool Pleasure Beach</a></li>
                <li><a class="dropdown-item" href="/alton_towers">Alton Towers</a></li>
                <li><a class="dropdown-item" href="/thorpe_park">Thorpe Park</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Reviews
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/reviews">View All Ride Reviews</a></li>
                <li><a class="dropdown-item" href="/add_review">Write a Review</a></li>
              </ul>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/profile/holbrich15">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div>
    <!-- flash messages -->
    
     
    
  </div>

  <main class="container">
    
<!-- Edit Review Page -->
<h3 class="text-center">Edit Review</h3>
<p class="review-intro text-center">Please amend your review below about the relevant ride/theme park.</p>
<div class="container">
  <form method="POST" action="/edit_review/66f540eedefe640d50f3fcc9">
    <div class="form-group">
      <label for="ride_name"><strong>Ride: </strong><em>(Please note: This ride can't be edited)</em></label>
      <input type="text" class="form-control" id="ride_name" name="ride_name" value="Icon" aria-describedby="ride_name"
        placeholder="Please re-enter the ride" minlength="4" maxlength="15" required readonly>
  </div>
    <div class="form-group">
      <label for="theme_park"><strong>Theme Park: </strong><em>(Please note: This theme park can't be edited)</em></label>
      <input type="text" class="form-control" id="theme_park" name="theme_park" value="Blackpool Pleasure Beach" aria-describedby="theme_park"
            required readonly>
    </div>
    <div class="form-group">
      <label for="rating"><strong>Please re-select the rating if you wish to: </strong></label>
      <select class="form-select" id="rating" name="rating" aria-label="Large select example" required>
        <option value="" disabled selected>Select a rating below</option>
        <option value="1/5 - Poor" >1/5 - Poor</option>
        <option value="2/5 - Below Average" >2/5 - Below Average</option>
        <option value="3/5 - Average" >3/5 - Average</option>
        <option value="4/5 - Above Average" >4/5 - Above Average</option>
        <option value="5/5 - Excellent"  selected >5/5 - Excellent</option>
      </select>
    </div>
    <div class="form-group">
      <label for="ride_comment" class="form-label"><strong>Please amend your ride comment here if you wish to: </strong></label>
      <textarea class="form-control" id="ride_comment" name="ride_comment" rows="3"
        required>A very fun ride!</textarea>
    </div>
    <div class="form-group">
      <label for="other_comment" class="form-label"><strong>Please amend any other comments about the theme park if you wish to: </strong></label>
      <textarea class="form-control" id="other_comment" name="other_comment" rows="3"
        required>N/A</textarea>
    </div>
    <br>
    <a href="/reviews" class="btn btn-danger cancel-edit-review">Cancel</a>
    <button type="submit" class="btn btn-primary edit-review">Edit Review</button>
  </form>
</div>


  </main>

  <footer class="d-block w-100">
    <!--Logo-->
    <a href="/">
      <img class="logo h-auto d-block" src="/static/images/logo.png" alt="park-logo">
    </a>
    <!--Social links-->
    <section class="social-container d-block text-center">
      <div id="social-links">
        <h4 class="social-title text-uppercase">Social Media Links</h4>
        <a href="https://www.facebook.com" target="_blank" aria-label="Link to Facebook page">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.twitter.com" target="_blank" aria-label="Link to Twitter page">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com" target="_blank" aria-label="Link to Instagram page">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com" target="_blank" aria-label="Link to Youtube channel">
          <i class="fa-brands fa-youtube"></i>
        </a>
      </div>
      <div id="copyright-statement">
        <p><em id="copyright">Copyright @ 2024 | UK Rides Review Hub | All Rights Reserved.</em></p>
      </div>
    </section>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous">
  </script>
</body>

</html>
        <option value="1/5 - Poor" {% if review.rating == "1/5 - Poor" %} selected {% endif %}>1/5 - Poor</option>
        <option value="2/5 - Below Average" {% if review.rating == "2/5 - Below Average" %} selected {% endif %}>2/5 - Below Average</option>
        <option value="3/5 - Average" {% if review.rating == "3/5 - Average" %} selected {% endif %}>3/5 - Average</option>
        <option value="4/5 - Above Average" {% if review.rating == "4/5 - Above Average" %} selected {% endif %}>4/5 - Above Average</option>
        <option value="5/5 - Excellent" {% if review.rating == "5/5 - Excellent" %} selected {% endif %}>5/5 - Excellent</option>
      </select>
    </div>
    <div class="form-group">
      <label for="ride_comment" class="form-label"><strong>Please amend your ride comment here if you wish to: </strong></label>
      <textarea class="form-control" id="ride_comment" name="ride_comment" rows="3"
        required>{{ review.ride_comment }}</textarea>
    </div>
    <div class="form-group">
      <label for="other_comment" class="form-label"><strong>Please amend any other comments about the theme park if you wish to: </strong></label>
      <textarea class="form-control" id="other_comment" name="other_comment" rows="3"
        required>{{ review.other_comment }}</textarea>
    </div>
    <br>
    <a href="{{ url_for ('get_reviews') }}" class="btn btn-danger cancel-edit-review">Cancel</a>
    <button type="submit" class="btn btn-primary edit-review">Edit Review</button>
  </form>
</div>

{% endblock %}