{% extends "base.html" %}
{% block content %}
<h3>Edit Review</h3>
<p>Please amend your review below about the relevant ride/theme park.</p>
<div class="container">
  <form method="POST" action="{{ url_for('edit_review', review_id=reviews._id) }}">
    <div class="form-group">
      <label for="name">Name: </label>
      <input type="text" class="form-control" id="name" name="name" aria-describedby="name"
        placeholder="Please enter your name" minlength="5" maxlength="15" required>
    </div>
    <div class="form-group">
      <label for="ride">Ride: </label>
      <input type="text" class="form-control" id="ride" name="ride_name" aria-describedby="ride"
        placeholder="Please enter the ride" minlength="4" maxlength="15" required>
    </div>
    <div class="form-group">
      <label for="theme_park">Theme Park: </label>
      <select class="form-select" id="theme_park" name="theme_park" aria-label="Large select example">
        <option selected>Please select the Theme Park below</option>
        <option value="Blackpool Pleasure Beach">Blackpool Pleasure Beach</option>
        <option value="Alton Towers">Alton Towers</option>
        <option value="Thorpe Park">Thorpe Park</option>
      </select>
    </div>
    <div class="form-group">
      <label for="rating">Rating: </label>
      <select class="form-select" id="rating" name="rating" aria-label="Large select example">
        <option selected>Please select your rating below</option>
        <option value="1/5 - Poor">1/5 - Poor</option>
        <option value="2/5 - Below Average">2/5 - Below Average</option>
        <option value="3/5 - Average">3/5 - Average</option>
        <option value="4/5 - Above Average">4/5 - Above Average</option>
        <option value="5/5 - Excellent">5/5 - Excellent</option>
      </select>
    </div>
    <div class="form-group">
      <label for="ride_comment" class="form-label">Please write your comment here: </label>
      <textarea class="form-control" id="ride_comment" name="ride_comment" rows="3"
        placeholder="Please enter any comments here about the ride..."></textarea>
    </div>
    <div class="form-group">
      <label for="other_comment" class="form-label">Any other comments about the theme park: </label>
      <textarea class="form-control" id="other_comment" name="other_comment" rows="3"
        placeholder="Please enter any other general comments here about the theme park..."></textarea>
    </div>
    <br>
    <a href="{{ url_for ('get_reviews') }}" class="btn btn-danger">Cancel</a>
    <button type="submit" class="btn btn-primary">Edit Review</button>
  </form>
</div>

{% endblock %}