{% extends "base.html" %}
{% block content %}

<h3 class="text-center">Blackpool Pleasure Beach</h3>

<div class="container">
    <div class="row">
        {% for ride in rides %}
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ ride.ride_name }}</h5>
                    <p class="card-text text-center">{{ ride.theme_park }}</p>
                    <img src="{{ ride.image_url }}" class="card-img-top" alt="ride-image">
                    <div class="ride-info">
                        <p class="card-text"><strong>Type: </strong>{{ ride.type }}</p>
                        <p class="card-text"><strong>Description: </strong>{{ ride.description }}</p>
                    </div>
                     <!-- Button trigger modal -->
                    <button class="btn btn-primary ratings-reviews-button" data-bs-toggle="modal"
                     data-bs-target="#staticBackdrop{{ride._id}}">
                     Click here to review this ride
                    </button>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop{{ride._id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Write a Review</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('add_review') }}">
                        <div class="form-group">
                            <label for="name"><strong>Name: </strong></label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
                          </div>
                        <div class="form-group">
                          <label for="ride"><strong>Ride: </strong>{{ ride.ride_name }}</label>
                        </div>
                        <div class="form-group">
                            <label for="theme_park"><strong>Theme Park: </strong>{{ ride.theme_park }}</label>
                          </div>
                        <div class="form-group">
                            <label for="rating"><strong>Rating: </strong></label>
                            <select class="form-select" id="rating" name="rating" aria-label="Large select example">
                                <option selected>Please select your rating below</option>
                                <option value="1/5 - Poor">1/5 - Poor</option>
                                <option value="2/5 - Below Average">2/5 - Below Average</option>
                                <option value="3/5 - Average">3/5 - Average</option>
                                <option value="4/5 - Above Average" >4/5 - Above Average</option>
                                <option value="5/5 - Excellent">5/5 - Excellent</option>
                              </select>
                        </div>
                        <div class="form-group">
                            <label for="ride_comment" class="form-label" ><strong>Please write your comment here:</strong></label>
                            <textarea class="form-control" id="ride_comment" name="ride_comment" rows="3" placeholder="Please enter any comments here about the ride..."></textarea>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Submit Your Review</button>
                      </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>

{% endblock %}